header{
  display: block;
  min-width: 600px;
  background-color: #282828;
  font-size: 20;
  color:white;
  text-align: center;
  vertical-align: middle;
  line-height:50px;
  border: none;
  height: 50px;
  width: 100%;
}

th{
  text-align: center;
}

body{
  min-width: 600px;
  margin: 0;
  padding: 0;
}

.btn{
  min-width: 600px;
  max-width: 600px;
  margin:0;
  padding: 0;
  background-color: #e5efff;
  border: none;
}

.btn:hover{
  opacity: 0.75;
}

.searchBar{
  display:block;
  width: 100%;
  border: none;
  font-size: 12;
}

.addNewStock{
  display: block;
  width: 100%;
  font-size: 12;
  text-align: center;
  background-color:#a0ffd7;
  border: none;
  padding: 14px 28px;
}
.addNewStock:hover{
  opacity: 0.75;
}
.doneButton{
  display: block;
  width: 100%;
  font-size: 12;
  text-align: center;
  background-color:#a0ffd7;
  border: none;
  padding: 14px 28px;
}

.doneButton:hover{
  opacity: 0.75;
}
.cancelButton{
  display: block;
  width: 100%;
  font-size: 12;
  text-align: center;
  background-color:#ff89a5;
  border: none;
  padding: 14px 28px;
}

.cancelButton:hover{
  opacity: 0.75;
}

.refresh{
  background-color: #282828;
  float: right;
  width:100%;
  color:white;
  height: 50px;
  border: none;
}

.refresh:hover{
  opacity: 0.75;
}
