header{
  display: block;
  min-width: 400px;
  background-color: #282828;
  font-size: 20;
  color:white;
  text-align: center;
  vertical-align: middle;
  line-height:50px;
  border: none;
  height: 50px;
  width: 100%;
}

body{
  min-width: 400px;
  margin: 0;
  padding: 0;
}

.searchBar{
  display:block;
  width: 100%;
  border: none;
  font-size: 12;
}

.addNewStock{
  display: block;
  width: 100%;
  font-size: 12;
  text-align: center;
  background-color:#EDFEDC;
  border: none;
  padding: 14px 28px;
}
.addNewStock:hover{
  opacity: 0.5;
}

.cancelButton{
  display: block;
  width: 100%;
  font-size: 12;
  text-align: center;
  background-color:#ff89a5;
  border: none;
  padding: 14px 28px;
}

.cancelButton:hover{
  opacity: 0.5;
}
